@import "../core/variables.scss";

.favSection {
  background: linear-gradient(#05275a, #6b71b9);
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  &__title {
    font-family: $roboto;
    color: white;
    font-size: 30px;
  }
  &__img {
    height: 300px;
    margin-bottom: 50px;
  }
  &__btn {
    font-family: $roboto;
    font-size: 15px;
    color: $mainColor;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    left: 550px;
    top: 20px;
    cursor: pointer;
    &:hover {
      background-color: $mainColor;
      color: white;
      border: solid 2px white;
      transform: scale(120%);
    }
  }
}
