@import "../core/variables.scss";

.favSection {
  background: linear-gradient(#05275a, #6b71b9);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @media (min-width: 700px) {
    min-height: 65vh;
  }
  &__title {
    font-family: $roboto;
    color: white;
    font-size: 25px;
    @media (min-width: 700px) {
      font-size: 30px;
    }
  }
  &__img {
    height: 150px;
    margin-bottom: 40px;
    @media (min-width: 700px) {
      height: 300px;
      margin-bottom: 50px;
    }
  }
  &__btn {
    font-family: $roboto;
    font-size: 15px;
    color: $mainColor;
    padding: 15px;
    border-radius: 50%;
    font-size: 13px;
    cursor: pointer;
    margin-top: -75px;
    @media (min-width: 700px) {
      margin-top: 40px;
      font-size: 16px;
    }
    &:hover {
      background-color: $mainColor;
      color: white;
      border: solid 2px white;
      transform: scale(120%);
    }
  }
}
