@import "../core/variables.scss";

.form__label {
  font-family: $roboto;
  color: white;
  margin-bottom: 10px;
}

.form__check {
  border: none;
  box-shadow: 3px 3px 2px #05275a;
  margin-left: 10px;
}
