.form {
  border: solid 2px white;
  border-radius: 50%;
  display: inline;
  padding: 40px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#05275a, #6b71b9);
}
