@import "../core/variables.scss";
.detailSection {
  background: linear-gradient(#05275a, #6b71b9);
  min-height: 65vh;
  &__btn {
    margin: 15px;
    font-family: $roboto;
    font-size: 15px;
    color: $mainColor;
    padding: 15px;
    border-radius: 50%;
    margin-left: 90%;
    cursor: pointer;
    border: solid 2px black;
    &:hover {
      background-color: $mainColor;
      color: white;
      border: solid 2px white;
      transform: scale(120%);
    }
  }
}
.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__image {
    width: 300px;
    align-self: center;
  }
  &__title,
  &__actors,
  &__rating {
    color: white;
    font-family: $roboto;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
